
.heading h1{
height: 745px;
width: 1050px;
left: 96px;
top: 229px;
margin: 30px;

color: slategrey;
font-family: Inter;
font-size: 150px;
font-weight: 700;
line-height: 242px;
letter-spacing: 0em;
text-align: left;

}
.aboutmain{
    background-color: #ffff;
    margin-top: 200px;
}

.container{
    display: flex;
    padding: 20px;
    margin: 20px;
}
.card{
    /* padding: 20px; */
    margin: 30px;
}
.form{
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
input{
    width: 1000px;
    margin: 30px;
    color: #fff;
    background: #000;
}

button{
    text-align: start;
}
@keyframes fade-in{
    0%{opacity:1;}
    100%{opacity:0;}
}
.heading{
    animation: fade-in 2s infinite alternate;
}
h1{
    animation: fade-in 2s infinite alternate;
}
#ourservices h1:hover{
    color: slategrey;
    background:white;
    cursor: pointer;

}
#chat{
    background: rgb(101, 227, 230);
    color: rgb(4, 45, 57);
    font-size: 24px;
    font-family: inter;
    margin-left: 80%;
    border: 2px solid goldenrod;
    border-radius: 20px;
    margin-bottom: 20px;
}
#navli a{
    color:slategray
}